.brand {
    display: flex;
    position: relative;

    @media screen and (max-width: 1100px) {
        flex-direction: column;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &_reverse {
        flex-direction: row-reverse;
    }

    &__column {
        flex: 0 1 (100% / 3);
        position: relative;

        &_big {
            flex: 0 1 (100% / 3 * 2);
        }

        @media screen and (max-width: 1100px) {
            &:first-child {
                padding-top: 56%;
            }
        }
    }

    &__link {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        background: rgba(100, 194, 158, 0);
        transition: all 0.3s ease;

        &:focus {
            @include no-focus-outline();
        }

        &:hover, &.focus-visible {
            background: rgba(100, 194, 158, 0.7);
        }
    }

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    &__info {
        position: relative;
        background: #fff;
        padding: 55px 65px;

        @media screen and (max-width: 1300px) {
            padding: 30px 35px 40px 35px;
        }

        @media screen and (max-width: 1100px) {
            padding: 55px 15px;
        }

        &::after {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            bottom: -9px;
            left: 50%;
            transform: translateX(-50%);
            border-top: 10px solid #fff;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            z-index: 2;
        }
    }

    &__text {
        text-align: justify;
        @media screen and (max-width: 1100px) {
            text-align: center;
        }

        &::after {
            content: "";
            display: block;
            margin: 0 auto;
            width: 50px;
            height: 1px;
            background: #d7d7d7;
            margin-top: 35px;

            @media screen and (max-width: 1300px) and (min-width: 1101px) {
                margin-top: 25px;
            }
        }
    }

    &__image {
        position: relative;
        padding-top: 37%;
    }
}