
// Header

.header {
    position: relative;
    min-height: 800px;
    @media screen and (max-width: 1000px) {
        min-height: 506px;
    }
    @media screen and (max-width: $md3 + px) {
        min-height: 400px;
    }
    @media screen and (max-width: $md4 + px) {
        min-height: 300px;
    }

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    &__container {
        position: relative;
        z-index: 2;
    }

    &__top {
        margin-top: 35px;
        display: flex;

        @media screen and (max-width: $md3 + px) {
            margin-top: 15px
        }
    }

    &__left {
        flex: 0 1 50%;
        margin-top: 30px;
        display: flex;
        justify-content: flex-end;
    }

    &__center {
        text-align: center;
        flex: 0 0 220px;
    }

    &__right {
        flex: 0 1 50%;
        margin-top: 30px;
        display: flex;
        justify-content: flex-start;
    }

    &__logo {
        display: inline-block;
        margin: 0 auto;
        
        @media screen and (max-width: $md3 + px) {
            width: 75px;
        }
        @media screen and (max-width: $md4 + px) {
            width: 60px;
        }
    }

    @media screen and (max-width: $md3 + px) {
        &__left &__menu {
            display: none;
        }
        &__right {
            margin-top: 0;
            justify-content: flex-end;
        }
    }
}