
// MIXINS 

@import 'mixins';



// FONTS

// File with @font-face rules
@import 'fonts';

// Google fonts imports
@import url(https://fonts.googleapis.com/css?family=Lato:300,regular,italic,700);


// Cyrillic support (add this suffix on URL)
// &display=swap&subset=cyrillic-ext



// VARIABLES

// Default font
$defaultFont: "Lato";

// Color for custom outline
$outline-color: #42a0da;

// Other colors on a page
$silver-tree: #64c29e;
$scarpa-flow: #4d4959;
$alabaster: #f7f7f7;
$cape-cod: #353738;
$oslo-gray: #848789;
$gray: #929292;
$outer-space: #282f35;
$gray-chateau: #a9afb3;

// Maximum container width
$max-container-width: 1110;

// Media breakpoints
$md1: $max-container-width + 12;
$md2: 992;
$md3: 768;
$md4: 480;



// NULL & GENERAL

@import 'null';

// Nulling gefault button style
button {
    border: none;
    background: none;
}

// _visually-hidden class for elements like default checkbox (it should not be visible, but it should be!)
._visually-hidden {
    @include visually-hidden();
}

// _focus-outline class for elements, needed custom outline
._focus-outline:focus {
    @include focus-outline();
}

// setting custom focus outline for some elements
a:focus, link:focus, button:focus, input:focus, select:focus, textarea:focus {
    @include focus-outline();
}

// _no-focus class for elements, which not needed focus
._no-focus-outline:focus {
    @include no-focus-outline();
}

// remove focus outline for elements, which are on focus, but not by TAB key
.js-focus-visible :focus:not(.focus-visible) {
    @include no-focus-outline();
}

// ibg class
.ibg{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.ibg img{
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}



// GRID & CONTAINER

._container {
    max-width: $max-container-width + 15 + 15 + px;
    margin: 0 auto;
    padding: 0 15px;
}



// INCLUDES

// Slick slider scss file
@import '../../node_modules/slick-carousel/slick/slick.scss';
@import 'slick-style.scss';



// BLOCKS

@import 'blocks/page';

@import 'blocks/header';
@import 'blocks/logo';
@import 'blocks/menu';

@import 'blocks/main';

@import 'blocks/section';

@import 'blocks/brand';

@import 'blocks/posts-section';
@import 'blocks/post';

@import 'blocks/shop-section';
@import 'blocks/shop-card';

@import 'blocks/footer';

